# Facebook Graph API Configuration
# Get these from https://developers.facebook.com/apps/

# Your Facebook Page Access Token
# You can generate this from: https://developers.facebook.com/tools/explorer/
# Select your app, then select "Get Page Access Token"
FACEBOOK_PAGE_ACCESS_TOKEN=your_page_access_token_here

# Your Facebook Page ID
# You can find this in your Facebook Page settings or use Graph API Explorer
FACEBOOK_PAGE_ID=your_page_id_here

# Optional: Facebook App ID (if you want to add login functionality)
FACEBOOK_APP_ID=your_app_id_here
